// ignore external libraries
/client/js/geometry-polyfill.js
/client/js/httpVueLoader.js
/client/js/onsenui.min.js
/client/js/pako_inflate.min.js
/client/js/vue.js
/client/js/vue-onsenui.js
/client/zone/geometry-polyfill.js